{% extends 'app/base.html' %}

{% block content %}
    <h1>Articles</h1>
    <a href="{% url 'create_article' %}">Create article</a>

    {% if articles %}
    <ul>
        {%for article in articles %}
            <li><a href="{% url 'update_article' article.id %}">{{article.title}}</a> with {{article.word_count|default:0|floatformat:0 }} word{{ article.word_count | pluralize }}. Created at {{article.created_at | date:"jS F Y"  }} </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>You have no articles</p>
    {% endif %}
{% endblock content %}
